@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', serif;
    font-weight: 400px;
    color: white;
}

.AGP {
    font-family: 'EB Garamond', serif;
    font-weight: 700px;
}

.dark-blue {
    color: #14274A;
}

.dark-blue-back {
    background: #14274A;
}

/* HEADER */

header{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../img/Rixos-Marina-Abu-Dhabi.jpg);
    background-size: cover;
    background-position: center;
}

.navbar ul li{
    margin: 0 10px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.btn{
    background-color: #E0B973;
    color: white;
}

/* Welcome */
.wel_txt{
    padding-top: 150px;
}
.lux_txt{
    color: #FFF;
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.78px;
    font-size: 80px;
    letter-spacing: 10.78px;
}
.hot_txt{
    color: #FFF;
    font-family: Adobe Garamond Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 24px;
    
}

/* MODAL */

.modal-content {
  width: 80%;
  margin: 0 auto;
}
.modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}
h1 {
  font-size: 2.3em;
  font-weight: bold;
}
.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
@media (max-width: 576px) {
  .myform {
    max-width: 90%;
    margin: 0 auto;
  }
}
#ModalForm .form-control:focus {
    box-shadow: inset 0 -1px 0 black;
}
#ModalForm .form-control {
    background-color: inherit;
    color: black;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.myform .btn1 {
  border: none;
  width: 100%;
  font-weight: 800;
  background-color: #E0B973;
  border-radius: 15px;
  padding: 0.5em 0;
}


.myform .btn1:hover {
  background-color: #E0B973;
  color: #fff;
  border-color: black;

}
p .wtf{
  text-align: center;
  padding-top: 2em;
  color: grey;
}
p a .wtf2{

  text-decoration: none;
}
p a .wtf2:hover {
  color: black;
}

/*  CONTENT */
.content{
    margin-top: 100px;
}
.content p {
    color: #14274A;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* CARD */

.products {
	padding: 5% 0 0;
}
.card {
    border: none;
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.card-body {
	color: #fff;
	background: #2a2f40;
}
.card-title {
	font-size: 30px;
	font-weight: 700;
    transition: all .5s ease-in-out;
}
.btn-group .btn {
	background: #fe6d38;
	color: #fff;
	font-size: 18px;
	margin-right: 5px;
	padding: 10px 20px;
	font-weight: 700;
    transition: all .6s ease-in;
}

.card:hover .card-title{
    letter-spacing: 5px;
    font-weight: 300;
}
.btn:hover {
	background: #fff;
	color: #262626;
}

/* FOOTER */

footer {
    background: #14274A;
    padding-top: 50px;
}

.single-box ul {
    list-style: none;
    padding: 0;
}

.single-box span{
    margin-left: 15px;
}
.single-box ul li a {
    text-decoration: none;
    color: white;
}

#basic-addon2 {
    background-color: #E0B973;
    color: white;
}
.socials i {
    margin-right: 15px;
}